<div class="row">
    <div class="col-lg-6 columns">
        <table>
            <tr>
                <td><input type="checkbox" [(ngModel)]="automaticFeeder" ></td>
                <td><h2>{{automaticFunc}}</h2></td>
            </tr>
        </table>    
        <p>{{automaticFuncDescription}}</p>
    </div>
    <div class="col-lg-6">
        <table>
            <tr>
                <td><input type="checkbox" [(ngModel)]="manualFeeder" ></td>
                <td><h2>{{manualFunc}}</h2></td>
            </tr>
        </table> 
        <p>{{manualFuncDescription}}</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-6"></div>
    <div class="col-lg-6">
        <div *ngIf="manualFeeder">         
            <button type="button" class="btn btn-circle" >FEED</button>
        </div>
    </div>
</div>
