<div class="row">
    <div class="col-lg-6 columns">
        <table>
            <tr>
                <td><input type="checkbox" id="automaticFeeder" [(ngModel)]="automaticFeeder" ></td>
                <td><label class="checkLabel" for="automaticFeeder">{{automaticFunc}}</label></td>
            </tr>
        </table>    
        <p>{{automaticFuncDescription}}</p>
    </div>
    <div class="col-lg-6">
        <table>
            <tr>
                <td><input type="checkbox" id="manualFeederCheck" [(ngModel)]="manualFeeder" ></td>
                <td><label class="checkLabel" for="manualFeederCheck">{{manualFunc}}</label></td>
            </tr>
        </table> 
        <p>{{manualFuncDescription}}</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div *ngIf="automaticFeeder">
            <label>Show Charts</label>

            <chart></chart>
        </div>
    </div>


    <div class="col-lg-6 divFeedButton">
        <div  *ngIf="manualFeeder">
            <button type="button" class="btn btn-info btn-circle btn-xl" (click)="feedTheCat()">FEED</button>
        </div>
    </div>
</div>
