<div class="row">
    <div class="col-lg-12 feed-button-container">
        Portions given: {{feed_count}}
        <div class="divFeedButton">
            <button type="button" class="btn btn-info btn-circle btn-xl" (click)="feedTheCat()">FEED</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <table>
            <tr>
                <td><input id="motion" name="mode" type="radio" [value]="0"  [ngModel]="mode" [ngModel]="selectedItem" (ngModelChange)="modeChanged($event)"><br/></td>
                <td><label for="motion">Motion activated feeder</label></td>
            </tr>
        </table>    
        <p>Feeds your cat whenever it approaches the feeder.</p>
    </div>
    <div class="col-lg-4">
        <table>
            <tr>
                <td><input id="periodic" name="mode" type="radio" [value]="1"  [ngModel]="mode" (ngModelChange)="modeChanged($event)"></td>
                <td><label for="periodic">Periodic feeder</label></td>
            </tr>
        </table> 
        <p>Feeds your cat every {{minutes}} minutes.</p>
    </div>
    <div class="col-lg-4">
        <table>
            <tr>
                <td><input id="both" name="mode" type="radio" [value]="2"  [ngModel]="mode" (ngModelChange)="modeChanged($event)"></td>
                <td><label for="both">Both</label></td>
            </tr>
        </table> 
        <p>Feeds your cat whenever it approaches the feeder or every {{minutes}} minutes.</p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-4 minutes-container">
        <label for="minutes">Feed cat every:</label>
        <input [formControl]="minutesControl" id="minutes" type="number" min="1" max="999" [(ngModel)]="minutes"/>minutes
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <h2>Eatings by day</h2>
        <chart [series]="series1" [labels]="labels1"></chart>
    </div>
    <div class="col-lg-6">
        <h2>Eatings by hour of the day</h2>
        <chart [series]="series2" [labels]="labels2"></chart>
    </div>
</div>
